<!DOCTYPE html>
<html lang="">
	<head>
		<title>Logboek (Calendar)</title>

		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/cjs/popper.min.js"></script> #}
		{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltip.js/1.3.1/tooltip.min.js"></script> #}
		{#    <script src="home/emreatelierix/public_html/monologger/assets/bootstrap.bundle.js"></script> #}<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer> </script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
		<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>


		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		<link rel="stylesheet" href="{{ asset('build/animate.css') }}">
		<link rel="stylesheet" href="calendar/fullcalendar.bundle.css">
		<link rel="stylesheet" href="{{ asset('stage.css') }}">
		<link
		rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
		{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"/>#}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"/>

		<script>

$(document).ready(function () {
   var calendar =
      $(
         '#calendar')
      .fullCalendar({
         editable: true,
         customButtons: {
            myCustomButton: {
               text: 'plugin aanpassingen weergeven',
               click: function () {
                  window.location
                     .href =
                     '/public/calendar/index';
               }
            }
         },
         header: {
            left: 'prev,next today myCustomButton',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
         },
         events: 'public/calendar/watch',
         selectable: true,
         selectHelper: true,
         displayEventTime: false,
         eventBackgroundColor: '#162949',
         eventBorderColor: 'black',
         eventTextColor: 'white',
         trigger: 'hover',
         eventLimit: true, // for all non-agenda views
         views: {
            agenda: {
               eventLimit: 6 // adjust to 6 only for agendaWeek/agendaDay
            }
         },
         eventClick: function (
            info,
            calEvent,
            jsEvent,
            view,
            modal
         ) {
            { // var start = $.fullCalendar.formatDate(info.start, "Y-m-d H:i:s" , 1648118112);
               #
               var datum = {
                  {
                     i.start |
                        date("Y-m-d",
                           "Europe/Paris"
                        )
                  }
               };
               #
            }
            var options = {
               weekday: 'long',
               month: 'long',
               day: 'numeric',
               hour: 'numeric',
               minute: 'numeric',
               second: 'numeric'
            };
            var datum =
               new Date(
                  info
                  .start
               );
            var object_name =
               info
               .object_name;
            var event_type =
               info
               .event_type;
            var value =
               info
               .value;
            var user_roles =
               info
               .user_roles;
            var user_login =
               info
               .user_login;
            $("#fullCalModal")
               .dialog({
                  modal: true,
                  title: info
                     .title,
                  width: 750,
                  height: 550
               });
            $('#ev_start')
               .html('datum: ' +
                  datum
                  .toLocaleDateString(
                     "nl-NL",
                     options
                  )
               );
            $('#ev_title')
               .html(info
                  .title +
                  ' ' +
                  info
                  .message
               );
            $('#ev_message')
               .html('pluginnaam: ' +
                  value
               );
            $('#ev_objectType')
               .html('soort actie uitgevoerd: ' +
                  info
                  .title +
                  ' ' +
                  info
                  .message
               );
            $('#ev_userName')
               .html('Uitgevoerd door Gebruiker: ' +
                  user_login +
                  ' ' +
                  'met de rol: ' +
                  user_roles
               );
         },
         eventRender: function (
            info,
            element,
            $el
         ) {
            var options = {
               hour: 'numeric',
               minute: 'numeric'
            };
            var datum =
               new Date(
                  info
                  .start
               );
            element.addClass(
                  'eventText'
               )
               .html(info
                  .title +
                  ' ' +
                  info
                  .message +
                  ' ' +
                  datum
                  .toLocaleTimeString(
                     "nl-NL",
                     options
                  )
               );
         },
         eventMouseover: function (
            event,
            jsEvent,
            view
         ) {
            var options = {
               weekday: 'long',
               month: 'long',
               day: 'numeric',
               hour: 'numeric',
               minute: 'numeric',
               second: 'numeric'
            };
            var datum =
               new Date(
                  event
                  .start
               );
            var user =
               event
               .user_login;
            $(jsEvent
                  .currentTarget)
               .tooltip({
                  items: jsEvent
                     .currentTarget,
                  content: function () {
                     return '<br><b>Pluginnaam:</b> ' +
                        event.value +
                        '<br>' +
                        '<p class="lineHeight"> ' +
                        '<b>' +
                        '<p class="lineHeight"> ' +
                        event.title +
                        ' ' +
                        event.message +
                        '<br><i>  ' +
                        "Op: </b>" +
                        ' ' +
                        datum.toLocaleTimeString(
                           "nl-NL",
                           options
                        ) +
                        '' +
                        '<br>' +
                        '<b>Door:' +
                        ' </b>' +
                        user;
                  }
               });
         }
      });
});
		</script>
	</head>

	<div class="lijn"></div>
	{% if app.user %}


		<body class="content ">
			<div class="background1">
				<a href="/public/admin" class="btn btn-primary">Go Back</a>
				<div class="container">
					<p class="logboektitel " align="center">Logboek (Calendar)</p>
					<div id="calendar"></div>
					<div id="fullCalModal" title="Event Details" data-toggle="modal">

						<p class="popuptext1" id="ev_title"></p>
						<p class="popuptext2" id="ev_start"></p>
						<p class="popuptext2" id="ev_message"></p>
						<p class="popuptext2" id="ev_objectType"></p>
						<p class="popuptext2" id="ev_userName"></p>

					</div>
				</div>
			</div>
		</body>


	{% else %}
		<div class="section10 fadeIn animated ">
			<div class="section11">

				<p class="tekst10">
					Om gebruik te kunnen maken van het logboek verzoeken wij u eerst in te loggen als
										                medewerker
				</p>
				<button>
					<a class="uppercase hvr-bounce-to-bottom mt-15 bg-orange-500 submitknop1 text-gray-100 text-lg mt-10 font-extrabold py-4 px-8 rounded-3xl" href="/login" @click="isOpen = false">
						Login
					</a>
				</button>
			</div>

		</div>
	{% endif %}
	<div></div>

</html>
