<div>

    <button>        <a
                class="inline-block navtekst u-text-black-900 no-underline hover:u-text-black-900 hover:text-underline py-2 px-4"
                href="/start/file"
                @click="isOpen = false">
            Show file permission changes
        </a></button>
    <h2>Dit zijn de wijzigingen in de rechten van de mappen</h2>
</div>